# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
N8N_WEBHOOK_URL=https://hooks.clinicamenote.com.br/webhook/leads/capture
LEAD_SECRET=2w7YYP/iSvjT7Zgrf73qOojviNhrop/dJucgBS2ASn9w5OVBBV07v4aGwY83Q961
NEXT_PUBLIC_SITE_URL=http://localhost:3000