.animate-fade-in-line-by-line {
  display: block;
  overflow: hidden;
  position: relative;
}

.animate-fade-in-line-by-line span {
  display: block;
  opacity: 0;
  animation: fadeIn 0.4s ease-in forwards;
  animation-delay: calc(var(--line-index) * 0.1s);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
