.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/Background\ Image.png');
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  /* coloque o nome correto do arquivo */
  color: #fff;
  background-size: cover;
  background-position: center;
  position: relative;
}
